html, body, #root, #TaskAttack {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 10px;
}

#TaskAttack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.TaskHeader {
  /* height: 10%; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.TaskHeader > * {
  padding: 2% 0;
  flex: 1;
}

/* .updateUserIcon, .logoutIcon {
  flex: 1;
} */

.updatingUser {
  background-color: rgba(0, 0, 0, .25);
}

.loginButtons, .userInputs {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 2%;
}

.userInputs > * {
  flex: 1;
  padding: 2% 5%;
  margin: 2% 5%;
}

.registerButton, .loginButton {
  flex: 1;
  margin: 0 5%;
  padding: 5% 0;
}

.registerButton:hover, .loginButton:hover, .updateUserIcon:hover, .loggedInHeader > h1:hover, .logoutIcon:hover, .TaskDelete:hover, .TaskCancel:hover {
  background-color: rgba(0, 0, 0, .25);
  cursor: pointer;
}

.TaskAttack {
  /* height: 90%; */
  position: relative;
  flex: 1;
  overflow-y: auto;
  /* width: calc(100% + 15px); */
}

.TaskDisplayContainer {
  position: relative;
}

.TaskDisplay {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.TaskHours {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskHour {
  height: 100%;
  width: 75%;
  margin: auto;
  color: rgba(0, 0, 0, .25);
  border-top: dashed 1px rgba(0, 0, 0, .25);
  border-radius: unset;
  display: flex;
  align-items: center;
}

.taskHour:first-child {
  border: none;
}

.taskHour > h1 {
  margin: auto 0 0 0;
  width: fit-content;
}

.taskHoursComplete {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.taskHoursComplete > h1 {
  position: sticky;
  top: 5%;
  left: 10%;
  padding-left: 1%;
  text-align: left;
}


.TaskCell {
  background-color: rgba(255, 0, 0, 0.25);
}

.TaskCell:hover {
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, .25); */
  /* transition: .5s background-color ease-in-out; */
  animation: cellHover 1s 1;
}

@keyframes cellHover {
  0% {
    background-color: none;
  }
  50% {
    background-color: rgba(0, 0, 0, .25);
  }
  100% {
    background-color: none;
  }
}

.taskCellContent {
  position: sticky;
  top: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
}

.taskCellContent > h4 {
  padding: 0 2%;
  flex: 1;
  text-align: right;
}

.taskTimes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activeTask {
  background-color: rgba(60, 255, 0, 0.25);
}

.selectedTask {
  background-color: rgba(255, 200, 0, 0.25);
}


.UpdateTaskContainer {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 5% 5% 0;
  padding: 5%;
  background-color: rgba(0, 0, 0, .25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.UpdateTaskContainer > * {
  flex: 1;
}

.taskUpdateIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.TaskDelete, .TaskCancel {
  padding: 10% 0;
  margin: 10%;
}

.TaskDelete:hover, .TaskCancel:hover {
  background-color: rgba(0, 0, 0, .25);
}

#UpdateUserForm, #UpdateTaskForm {
  /* height: 40%; */
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0.75);
  padding: 5%;
  z-index: 2;
}

#UpdateUserForm {
  position: fixed;
  margin: 5% 50% 5% 5%;
}

#UpdateUserForm > label, #UpdateTaskForm > label, .updateTaskChecks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  white-space: nowrap;
  padding: 5% 0;
}

.updateTaskButtons, .updateTaskChecks, .updateUserButtons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.updateTaskButtons > *, .updateUserButtons > * {
  flex: 1;
  max-width: 100px;
  padding: 2%;
}

@media (max-width: 500px) {
  #TaskAttack {
    display: block;
    overflow-y: auto;
  }
  .TaskAttack {
    overflow: visible;
  }
}