html, body, #root, #TaskAttack {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 10px;
}

#TaskAttack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.TaskHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.TaskHeader > * {
  padding: 2% 0;
}

.updateUserIcon, .logoutIcon {
  flex: 1;
}

.updatingUser {
  background-color: rgba(0, 0, 0, .25);
}

.loginButtons, .userInputs {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 2%;
}

.userInputs > * {
  flex: 1;
  padding: 2% 5%;
  margin: 2% 5%;
}

.registerButton, .loginButton {
  flex: 1;
  margin: 0 5%;
  padding: 5% 0;
}

.registerButton:hover, .loginButton:hover, .updateUserIcon:hover, .loggedInHeader > h1:hover, .logoutIcon:hover, .TaskCell:hover, .TaskAdd:hover, .TaskDelete:hover, .TaskCancel:hover {
  background-color: rgba(0, 0, 0, .25);
  cursor: pointer;
}

.TaskAttack {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.TaskDisplay {
  background-image: url('./logo.svg');
  background-attachment: fixed;
}

.TaskCell {
  background-color: rgba(255, 0, 0, 0.25);
}

.taskCellContent {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
}

.activeTask {
  background-color: rgba(60, 255, 0, 0.25);
}

.selectedTask {
  background-color: rgba(0, 0, 0, .25);
}

.UpdateTaskContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.UpdateTaskContainer > * {
  flex: 1;
}

.TaskDelete, .TaskCancel {
  padding: 10% 0;
}

.TaskDelete:hover, .TaskCancel:hover {
  background-color: rgba(0, 0, 0, .25);
}

#UpdateUserForm, #UpdateTaskForm {
  /* height: 40%; */
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .25);
  padding: 2% 5%;
}

#UpdateUserForm > label, #UpdateTaskForm > label, .updateTaskChecks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  white-space: nowrap;
  padding: 5% 0;
}

.updateTaskButtons, .updateTaskChecks, .updateUserButtons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.updateTaskButtons > *, .updateUserButtons > * {
  flex: 1;
  max-width: 100px;
  padding: 2%;
}

.TaskAdd {
  padding: 2%;
}