html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  text-align: center;
  border-radius: 10px;
}

#TaskAttack {
  height: 100%;
}

.TaskHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.TaskHeader > * {
  padding: 2% 0;
}

.TaskHeader > .TaskDoor:active {
  background-color: lightgrey;
}

.updateUserIcon, .TaskDoor {
  flex: 1;
}

#LoginForm {
  flex: 1;
  margin-top: 5%;
}

.loginButtons, .userInputs {
  display: flex;
  padding: 5% 2%;
}

.registerButton, .loginButton{
  flex: 1;
}

.registerButton:hover, .loginButton:hover, .updateUserIcon:hover, .TaskDoor:hover, .TaskCell:hover, .TaskAdd:hover, .TaskDelete:hover, .TaskCancel:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.TaskAttack {
  overflow-y: auto;
  height: 100%;
}

.TaskDisplay {
  height: 100%;
}

.TaskCell {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}

.TaskCell > h4 {
  margin: 0;
  width: 100%;
}

.selectedTask {
  background-color: lightgrey;
}

.UpdateTaskContainer {
  display: flex;
  width: 100%;
}

.UpdateTaskContainer > * {
  flex: 1;
}

.TaskDelete, .TaskCancel {
  padding: 10% 0;
}

.TaskDelete:hover, .TaskCancel:hover {
  background-color: lightgrey;
}

#UpdateUserForm, #UpdateTaskForm {
  /* height: 40%; */
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 2% 5%;
}

#UpdateUserForm > label, #UpdateTaskForm > label, .updateTaskChecks {
  display: flex;
  white-space: nowrap;
  padding: 5% 0;
}

.updateTaskButtons, .updateTaskChecks {
  width: 100%;
  display: flex;
}

.updateTaskButtons > * {
  flex: 1;
  padding: 2%;
}

.TaskAdd {
  padding: 2%;
}

/* ===================== */
/*      Modal Forms      */
/* ===================== */

.modal-hidden {
  position: absolute;
  visibility: hidden; 
} 